* {
  box-sizing: border-box;
}
body {
  /* min-width:800px; */
}
.total{
  margin: auto;
  width: 80%;
}
.bigTitle{
  height: 120px;
  background-color: #597387;
}
.pCon{
  height: 120px;
  /* border: 1px solid black; */
  /* width: 60%; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  align-content: center;
  justify-content: center;
}
.pCon>div{
  /* border: 1px solid red; */
  text-align: center;


}

#p1{
  padding-top: 30px;
  font-size: 2em;
  text-align: right;
}
#p2{
  padding-top: 20px;
  text-align: left;
  font-size: 3em;
  /* width: 30%; */
}
.bigTitle>img{
  width: 150px;
  padding: 10px 30px;
  float: left;
}
.mynav{
  border-radius: 5px;
  clear: both;
  /* width: 70%; */
  margin: 10px auto;
  background-color: #8c9ea3;
}
li{
  margin: auto;
  width: 20%;
  /* border: 1px black solid; */
  text-align: center;
}
a{
  font-weight: bold;
  color: white;
}

li>p{
  display: inline;
  color: black;
  /* font-size: 1.8em; */
    /* font-weight: bold; */
}
li>a:hover {
  /* text-decoration: underline; */
  color: yellow;
  text-shadow: 2px 2px 2px grey;
}
.indexPhoto{
  /* border: 1px solid red; */
  margin: 2% auto;
  text-align: center;
  /* margin: 2%; */
}
.indexPhoto>img{
  margin: auto 2%;
  /* border: 1px solid red; */
  width: 400px;
  display: inline;
}
.indexBot{
}
.indexBot>h4{
  text-align: center;
  color: red;
  text-shadow: 2px 2px 2px grey;
}
.indexBot>h6{
  text-align: center;
  color: blue;
  text-shadow: 2px 2px 2px grey;
}
.borderLine {
  margin: 2% auto;
  height: 2px;
  border-bottom: 2px solid black;
}
/* about.css */
.totalCon{
  border: 1px solid #958a56;
  border-radius: 5px;
}
.totaltitle{
  height: 50px;
  margin: 1% 4%;
   background-image: linear-gradient(to right , #F2F7FB, #9D9FA1);
  border-radius: 5px;
}
.totaltitle>p{
  font-size: 1.3em;
  font-weight: bolder;
}
.totaltitle>i{
  float: left;
  padding-left: 10px;
}
.about{
  clear: both;
  margin: auto 4%;
}
hr{
  margin: 0;
  padding:0;
}
/* footer setting */
footer {
  margin: 0 2% 2% 2%;
  text-align: center;
  text-shadow: 2px 2px 2px grey
}

footer>a {
  color: black;
}
  @media screen and (max-width:600px){
/* .bigTitle>p{
  width: 30%;
} */
#p1{
  font-size: 1.5em;
}
#p2{
  font-size: 2em;
}
  }
